#header {
  width: 100%;
  height: auto;
  display: block;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.solen-header
  body {
	background: linear-gradient(-45deg, #0A3635, #1600ff, #ffb905, #fbc086);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.solen-header:hover {
  color: orange; /* sun changes to this */
}

/* Responsive SVG scaling */
.solen-logo {
  width: 800px;  /* adjust as needed */
  height: auto;
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
  padding: 0px 0;
  background: #fff;
}

footer p {
  margin: 0;
  padding: 10px 0;
  color: #333;
  font-size: small;
}