#header {
  width: 100%;
  height: auto;
  display: block;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.solen-logo {
  width: 800px; /* resize as needed */
  height: auto;
  display: block;
}


.solen-logo a:hover text {
  fill: #1600ff; /* your hover color */
}

/* Gradient fill link */
.gradient-bg {
  fill: url(#animatedGradient);
}

/* Animate the gradient's stop colors */
@keyframes gradientShift {
  0%   { stop-color: #0A3635; }
  25%  { stop-color: #1600ff; }
  50%  { stop-color: #ffb905; }
  75%  { stop-color: #fbc086; }
  100% { stop-color: #0A3635; }
}

#gradStop1 {
  animation: gradientShift 8s linear infinite;
}
#gradStop2 {
  animation: gradientShift 8s linear infinite;
  animation-delay: 2s;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
  padding: 0px 0;
  background: #fff;
}

footer p {
  margin: 0;
  padding: 10px 0;
  color: #333;
  font-size: small;
}